:root {
  --font-size: 16px; // main -font 

  --size-xs: 0.625rem; // 10px
  --size-s: 1.25rem; //20px
  --size-m: 1.5rem; //24px
  --size-l: 2.5rem; // 40px
  --size-xl: 8.25rem; //130px
  --size-xxl: 54.375rem; //870px

  --color-primary: #00c3ff;
  --color-secondary: #6a00f4;
  --color-hover: #4d9cb4;
  --color-text-light: #ffffff;
  --color-text-dar: #1d1c1c;
  --color-green: #55d523;
  --color-shadow: #31334d;
  --color-shadow-light: #aaadcb;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html,
body {
  font-family: 'Audiowide', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    var(--color-primary),
    var(--color-secondary)
  );
}

.clock {
  font-size: var(--size-xl);
  width: var(--size-xxl);
  display: flex;
  box-shadow: 8px 8px 24px 0px var(--color-shadow);
  border-radius: 1.25rem;
}
#hr,
#min,
#sec {
  display: inline-block;
  width: 2ch; /* 2 znaki – np. "00", "59" */
  text-align: center;
  font-variant-numeric: tabular-nums; /* sprawia, że każda cyfra zajmuje tyle samo miejsca */
}

.date-group {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: var(--size-s);
  margin-bottom: var(--size-s);
}
.date-name {
  font-size: var(--size-m);
  color: var(--color-text-light);
}

.control-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 24px 10px var(--color-shadow);
  border-radius: 2.5rem; // 40px
  padding: 1.25rem; // 20px
  opacity: 0.6;
}

.btn {
  font-size: 1.25rem;
  color: var(--color-text-dar);
  border-radius: 1.25rem;
  border: 1px solid #c2bcca;
  padding: var(--size-xs) var(--size-s);
  margin-bottom: var(--size-s);
  background-color: transparent;
}
.btn:hover {
  cursor: pointer;
  color: var(--color-text-light);
}

// dark-mode

body.dark-mode {
  background: var(--color-text-dar);
  color: var(--color-green);
}
body.dark-mode .clock {
  box-shadow: 8px 8px 24px 0px var(--color-shadow-light);
}

body.dark-mode .control-buttons {
  box-shadow: 8px 8px 24px 0px var(--color-shadow-light);
}

body.dark-mode .btn {
  color: var(--color-text-light);
  font-size: var(--size-s);
  border: 1px solid var(--color-green);
}

body.dark-mode .btn:hover {
  color: var(--color-green);
  background-color: transparent;
}
