* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html,
body {
  font-family: 'Audiowide', sans-serif;
  font-weight: 400px;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #00c3ff, #6a00f4);
}

.clock {
  font-size: 130px;
  width: 870px;
  display: flex;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  border-radius: 20px;
}
#hr,
#min,
#sec {
  display: inline-block;
  width: 2ch; /* 2 znaki – np. "00", "59" */
  text-align: center;
  font-variant-numeric: tabular-nums; /* sprawia, że każda cyfra zajmuje tyle samo miejsca */
}

.date-group {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 20px;
  margin-bottom: 20px;
}
.date-name {
  font-size: 24px;
  color: #fff;
}

.timer-controls {
  display: none;
}
.control-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 24px 10px rgb(64, 66, 92);
  border-radius: 40px;
  padding: 20px;
  opacity: 0.6;
}

.btn {
  font-size: 20px;
  color: #090a0a;
  border-radius: 20px;
  border: 1px solid #c2bcca;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: transparent;
}
.btn:hover {
  cursor: pointer;
  color: #fff;
}

// dark-mode 

body.dark-mode {
  background: rgb(29, 28, 28);
  color: #55d523;
}
body.dark-mode .clock {
  box-shadow: 8px 8px 24px 0px rgb(170, 173, 203);
}

body.dark-mode .control-buttons {
  box-shadow: 8px 8px 24px 0px rgb(170, 173, 203);
}

body.dark-mode .btn {
  color: white;
  font-size: 20px;
  border: 1px solid #55d523;
}

body.dark-mode .btn:hover {
  color: #55d523;
  background-color: transparent;
}
